* {
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
}

body {
    background-image: linear-gradient(to right, #43389F , #4ec6ca ); 
 
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.number {
    display: flex;
    flex-direction: row;
}

.onePonta {
    position: relative;
    z-index: 1;
    top: 0;
    left: 0.2rem;
    border-radius: 3px;
    background-color: #fff;
    height: 5rem;
    width: 2.5rem;
    transform: rotate(50deg);
    box-shadow: 0 0 13px 0 rgba(0,0,0,0.2);
}

.oneCorpo {
    position: relative;
    background-color: #fff;
    left: 0rem;
    z-index: 10;
    height: 10rem;
    width: 2.4rem;
    box-shadow: 0 0 13px 0 rgba(0,0,0,0.2);
}

.zeroOne {
    position: relative;
    box-sizing: border-box;
    z-index: 8;
    left: -0.5rem;
    border-radius: 50%;
    height: 10rem;
    width: 10rem;
    border: 2.4rem solid #fff;
    box-shadow: 0 0 13px 0 rgba(0,0,0,0.2);
}

.zeroTwo {
    position: relative;
    box-sizing: border-box;
    left: -2rem;
    z-index: 6;
    border-radius: 50%;
    height: 10rem;
    width: 10rem;
    border: 2.4rem solid #fff;
    box-shadow: 0 0 13px 0 rgba(0,0,0,0.2);
}

.text1 {
    font-size: 11rem;
    color: #fff;
    line-height: 10rem
}

.text2 {
    font-size: 3.8rem;
    color: #fff;
    line-height: 8rem
}